/* Estilos para el menú hamburguesa */
:root {
  --services-bg: rgba(242, 238, 230, 1);
}

.services {
  background-color: var(--services-bg);
}
#hamburger-menu {
  display: none;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: .65rem;
  cursor: pointer;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  z-index: 2;
}

#hamburger-menu span {
  height: 2px;
  width: 70%;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.5s ease;
  transform-origin: left;
}

#hamburger-menu.active span {
  background-color: #fff;
}

#hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}

#hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

#logo img {
  padding: 0px .5rem;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

#logo img:hover {
  cursor: pointer;
}

nav ul li a:hover, #logo:active img {
  background-color: #ddd;
}

nav ul li a.special-button {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

/* Estilos para móviles */
@media (max-width: 600px) {
  
  body {
    font-size: 15px;
    width: 100%; /* Asegurarse de que el body ocupe todo el ancho */
    margin: 0 auto; /* Centrar el contenido */
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
  }

  h1 {
    font-size: 24px;
    text-align: center; /* Centrar el texto */
  }

  h2 {
    font-size: 20px;
    text-align: center; /* Centrar el texto */
  }

  p {
    font-size: 16px;
    text-align: left; /* Centrar el texto */
  }

  #header {
    text-align: center;
    display: grid;
    grid-template-areas:
      "logo hamburger-menu"
      "nav nav";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%; /* Asegurarse de que el header ocupe todo el ancho */
  }

  #hamburger-menu {
    display: flex;
  }

  #hero {
    min-height: 100vh;
    place-content: start;
  }
  .carrousel-track li{
    min-width: 100vw;
  }

  main {
    padding: 10px;
    padding-top: calc(80px + 20px); /* Ajustar según la altura del header */
    display: grid;
    grid-template-areas:
      "hero"
      "separator1"
      "how-work"
      "separator2"
      "asesorias"
      "separator3"
      "about"
      "separator4"
      "contact";
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    justify-items: center; /* Centrar el contenido horizontalmente */
    overflow: hidden; /* Evitar desbordamiento */
  }

  section {
    margin-bottom: 20px;
    width: 100%; /* Asegurarse de que las secciones ocupen todo el ancho */
    max-width: 600px; /* Limitar el ancho máximo */
    padding: 10px 0px; /* Añadir padding */
    overflow: hidden; /* Evitar desbordamiento */
  }

  #separator1, #separator2, #separator3, #separator4 {
    width: 100%;
    background-color: tomato;
    background-image: url("../public/separador-gradiente-1.svg");
    height: 3px;
  }

  nav {
    grid-area: nav;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    justify-self: end;
    display: flex;
    align-items: start;
    background-color: #1c1c1c;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    flex-wrap: nowrap;
    justify-content: flex-end;
    transition: transform 0.5s ease, visibility 0s, opacity 0.5s ease;
    transform: translateX(100%); /* Inicialmente fuera de la vista */
    border-radius: 20px;
    overflow: hidden; /* Evitar desbordamiento */
  }

  nav.active {
    padding: 2rem;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transform: translateX(0); /* Desplazar a la vista */
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  nav ul {
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
  }

  nav ul li a {
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  #how-works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-video-f {
    height: 100vh;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .texts-info {
    width: 100%;
    max-width: 600px;
  }

  .vls-explain {
    width: 100%;
    height: auto;
  }
  
.carrousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carrousel-videos {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.item-video {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: center;
  padding: 10px 0px;
}

.item-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.nav-button {
  opacity: 0;
  visibility: hidden;
}

  .carrousel-track{
    animation: scroll-left 3s linear infinite;
}
}
/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
    margin: 0 auto; /* Centrar el contenido */
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
  }

  h1 {
    font-size: 28px;
    text-align: center; /* Centrar el texto */
  }

  h2 {
    font-size: 24px;
    text-align: center; /* Centrar el texto */
  }

  p {
    font-size: 18px;
    text-align: center; /* Centrar el texto */
  }

  #header {
    text-align: left;
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  main {
    padding: 15px;
    padding-top: calc(80px + 20px); /* Ajustar según la altura del header */
    display: grid;
    grid-template-areas:
      "hero"
      "separator1"
      "how-work"
      "separator2"
      "asesorias"
      "separator3"
      "about"
      "separator4"
      "contact";
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    justify-items: center; /* Centrar el contenido horizontalmente */
    overflow: hidden; /* Evitar desbordamiento */
  }

  section {
    margin-bottom: 25px;
    width: 100%; /* Asegurarse de que las secciones ocupen todo el ancho */
    max-width: 800px; /* Limitar el ancho máximo */
    padding: 10px; /* Añadir padding */
    overflow: hidden; /* Evitar desbordamiento */
  }

  #separator1, #separator2, #separator3, #separator4 {
    width: 100%;
    background-color: tomato;
    background-image: url("../public/separador-gradiente.svg");
    height: 5px;
  }

  .video-funciona {
    width: 100%;
    justify-self: center;
  }

  .content-video-f {
    align-self: center;
  }

  
  .carrousel-track{

    animation: scroll-left 5s linear infinite;
  }
  .carrousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carrousel-videos {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .item-video {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: center;
    padding: 10px 0px;
  }
  
  .item-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .nav-button {
    opacity: 0;
    visibility: hidden;
  }
}

/* Estilos para PC */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
    margin: 0 auto; /* Centrar el contenido */
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
  }

  h1 {
    font-size: 32px;
    text-align: center; /* Centrar el texto */
  }

  h2 {
    font-size: 28px;
    text-align: center; /* Centrar el texto */
  }

  p {
    font-size: 20px;
    text-align: center; /* Centrar el texto */
  }

  main {
    padding: 20px;
    padding-top: calc(80px + 20px); /* Ajustar según la altura del header */
    display: grid;
    grid-template-areas:
      "hero"
      "separator1"
      "how-work"
      "separator2"
      "asesorias"
      "separator3"
      "about"
      "separator4"
      "contact";
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
    justify-items: center; /* Centrar el contenido horizontalmente */
    overflow: hidden; /* Evitar desbordamiento */
  }

  section {
    margin-bottom: 30px;
    height: 100vh;
    width: 100%; /* Asegurarse de que las secciones ocupen todo el ancho */
    max-width: 1200px; /* Limitar el ancho máximo */
    padding: 10px; /* Añadir padding */
    padding-top: 80px;
    overflow: hidden; /* Evitar desbordamiento */
  }

  #separator1, #separator2, #separator3, #separator4 {
    background-color: tomato;
    background-image: url("../public/separador.svg");
    height: 1rem;
    width: 100%;
  }
  #separator4{
    background-color: tomato;
    background-image: url("../public/separador-gradiente.svg");
    height: .5rem;
  }
  #asesorias{
    justify-content: space-between;
    margin-bottom: 0;
    height: auto;
    gap:3rem;
  }

  #how-works {
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
  }

  #about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    max-width: 100%;
  }
  .cards-asesorias {
    flex-direction: row;
  }

  .card-content {
    flex: 1;
    margin-bottom: 0;
    transition: box-shadow 0.3s, height 0.3s;
  }
  .carrousel-track {
    animation: scroll-left 60s linear infinite; /* Ajustar la velocidad de la animación para PC */
  }
  .card-content:hover {
    transform: none;
    height: auto; /* Estirar la card para mostrar card-info */
  }
  /* videos presentation para pc*/
  .carrousel-container {
    width: 100%;
    height: 540px;
    perspective: 1000px;
}
.carrousel-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}
.item-video {
    position: absolute;
    width: 300px;
    height: 500px;
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
  }
  .nav-button {
    position:absolute;
    top:50%;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  .prev{
    left: 166px;
  }
  .next{
    right: 166px;;
  }
  .video-funciona {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .content-video-f{

    max-width: 100%;
  }
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrousel {
  overflow: hidden;
  white-space: nowrap;
  padding: 10px; /* Añadir padding */
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  position: relative;
}

.carrousel-track li {
  display: inline-block;
  padding: 0 10px;
}



.video-funciona video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



#asesorias{
  max-width: 100%;
}
#asesorias header, #asesorias .cards-asesorias{
  max-width: 1200px;
  align-self: center;
}

