@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/ttf/roboto-cyrillic-100-italic.ttf') format('truetype');
}

body{
  font-family: 'roboto', Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.hero {
  background: #F3EFEB;
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25%;
  padding: 20px;
}

.hero h1{
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}

.btn-contact {
  text-align: center;
  padding: 5px 20px;
  border-radius: 16px;
  color: #fff;
  background-color: #000;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*linea de separación*/
.color-stripe {
  height: 24px;
  width: 100%;
}
/* seccion de información*/
#how-works {
  display: grid;
  width: 100%;
  grid-template-areas:
  "video textos";
  grid-template-rows: auto;
grid-template-columns: 1fr 1fr;
gap: 20px;
}


#how-works > .info-video {
  grid-area: video;
  display: flex;
  place-content: center;
  flex-direction: column;

}
/*
.info-video .title-h2{
  text-align: center;
  align-self: center;
  text-decoration: underline;
  text-decoration: 1px solid #000;
}
*/
video {
  max-width: 70%;
  height: 100%;
  background-color: #333;
  align-self: center;
  box-shadow: -8px 14px 50px 11px rgb(0 0 0 / 0.1)

}

#how-works > .texts-info {
  grid-area: textos;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  place-self: center;
}
.title-h2{
  text-decoration: underline;
}
.iconos{
  object-position: center;
  object-fit:contain;
  max-width: 70px;
  max-height: 70px;
}
.text-box{
  align-self: center;
  display:flex;
  flex-direction: row;
  gap:24px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom:1px solid #000;
}
.texts-info > :nth-child(2) {
  border-top: 2px solid black;
  padding-top: 10px;
}
.texts-info :nth-child(3){
  gap: 12px;
}
.texts-info :nth-child(3) > img{
  margin-left: -23px;
}

.text-box h3{
  margin-top: 0px;
}
p {
  padding:0px 18px;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  line-height: 1.2rem;
  text-align: left;
  max-width: 600px;
  text-wrap: pretty;
}

/*cards asesorías*/
#about{
  display:grid;
  grid-template-areas:
  "head"
  "cards"
  "services";
  background-color: #F3EFEB;
  padding: 50px 0px 80px 0px;
  margin-bottom:50px;
  
  
}
#about > header{
  grid-area:head;
  text-align: center;

}
#about > .cards-asesorias{
  padding-top:50px;
  grid-area:cards;
  display:flex;
  justify-content: space-evenly;
  gap:20px;
  flex-wrap:wrap;
  place-self: center;
  width: 100%;
}
.card-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:20px;
  border-radius: 10px;
  box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  width: 611px;
  height: 397px;
  justify-content: start;
}
.text-card-content{
  min-height: 60px;
  margin-bottom: 20px;
}
.card-content ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:0px;
  padding-left:20px
}

.card-content ul li{
  line-height: 1.5rem;
  letter-spacing: 1.2px;
}

.card-info{
  width: 100%;
  background-color: #fff;
  color: rgb(0, 0, 0);
  text-align: left;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
  border-radius: 10px;
  align-self: center;
}

.card-content:hover .card-info {
  opacity: 1;
}

#about > .services {
  grid-area: services;
  background: #F6F5F369;
  background-blend-mode: multiply;
  position: relative;
  bottom: -80px;
}

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.carrousel-track {
  display: flex;
  gap: 50px;
  animation: scroll 100s linear infinite;
}

.carrousel-track li {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6d6d6d;
  white-space: nowrap;
}
/*video sección*/
.vsl-explain{
  padding-bottom: 10px;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}